@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Indie Flower', cursive; */
/* font-family: 'Inter', sans-serif; */

/* $beige: #EFD67F;
$blue: #5A95B6;
$black: #1E1E1E; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #242424;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}